{% extends "base.html" %}
{% block title %}Vendas | MercattoPy{% endblock %}

{% block content %}

{%if user.is_authenticated %}

<div class="d-flex justify-content-end">
         <div class="text-center">
            <a href="{% url 'sales_home' %}" class="btn btn-sm btn-outline-primary">
                <i class="fa-solid fa-arrow-left me-2"></i>Voltar
            </a>
         </div>
</div>

<h3 class="mb-4">Vendas | Realizar Pedido</h3>

<div class="row">
    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                {% if perms.sales.add_sale %}
                <a href="{% url 'order_create' %}">
                    <i class="fa-solid fa-file-invoice-dollar me-1"></i>
                    Gerar Novos Pedidos
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body pt-2">
                <div class="d-flex align-items-center gap-2">
                    <strong class="mb-2">Avisos:</strong>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert py-1 px-2 mb-0
                                {% if message.tags == 'success' %}
                                    alert-success
                                {% else %}
                                    alert-warning
                                {% endif %}">
                                <small class="mb-0">
                                    <strong>{{ message }}</strong>
                                </small>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

     <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body p-2">
                <form method="GET" action="{% url 'order_list' %}">
                    <div class="input-group">
                        <input type="text" name="qs" class="form-control" placeholder="Pesquisa de pedidos por nome..." value="{{ request.GET.qs }}">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
            {% if request.GET.qs %}
                <div class="mb-2">
                    <a href="{% url 'order_list' %}" class="text-decoration-none">
                            <i class="fa-sharp fa-solid fa-eraser ms-3 me-2"></i>Limpar
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<br>
<table class="table table-striped shadow-sm small">
    <thead class="table-dark">
        <tr>
            <th>Cliente</th>
            <th>Produto</th>
            <th>Qtde</th>
            <th>Preço Unit.</th>
            <th>Subtotal</th>
            <th>Data</th>
            <th>Pagamento</th>
            <th>Status</th>
            <th class="text-center">
        </tr>
    </thead>
    <tbody>
        {% load sales_formatters %}
        {% for sale in sales %}
            {% for item in sale.items.all %}
                <tr>
                    <td>{{ sale.customer.name }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unit_price|real_format }}</td>
                    <td>{{ item.subtotal|real_format }}</td>
                    <td>{{ sale.date|date:"d/m H:i" }}</td>
                    <td>{{ sale.get_payment_method_display }}</td>
                    <td>{{ sale.get_status_order_display  }}</td>
                    <td class="text-center">
                        <a href="{% url 'order_update' sale.id %}" class="btn btn-sm btn-outline-primary">
                        Editar
                        </a>
                        <a href="{% url 'order_delete' sale.id %}" class="btn btn-sm btn-outline-primary">
                        Excluir
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}
