{% extends "base.html" %}
{% block title %}Categorias | MercattoPy{% endblock %}

{% block content %}


<div class="d-flex justify-content-end">
         <div class="text-center">
            <a href="{% url 'dashboard' %}" class="btn btn-sm btn-outline-primary">
                <i class="fa-solid fa-arrow-left me-2"></i>Voltar
            </a>
         </div>
</div>

<h3 class="mb-4">Categorias</h3>

<div class="row">
    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <a href="{% url 'category_create' %}">
                    <i class="fa-solid fa-box me-2"></i>Cadastro de Novas Categorias
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body pt-2">
                <div class="d-flex align-items-center gap-2">
                    <strong class="mb-2">Avisos:</strong>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert py-1 px-2 mb-0
                                {% if message.tags == 'success' %}
                                    alert-success
                                {% else %}
                                    alert-warning
                                {% endif %}">
                                <small class="mb-0">
                                    <strong>{{ message }}</strong>
                                </small>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body p-2">
                <form method="GET" action="{% url 'category_list' %}">
                    <div class="input-group">
                        <input type="text" name="qs" class="form-control" placeholder="Pesquisa de categoria..." value="{{ request.GET.qs }}">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
            {% if request.GET.qs %}
                <div class="mb-2">
                    <a href="{% url 'category_list' %}" class="text-decoration-none">
                            <i class="fa-sharp fa-solid fa-eraser ms-3 me-2"></i>Limpar
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<br>
<table class="table table-striped shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Status</th>
            <th class="text-center">
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
                {% if category.is_active %}
                    <span class="badge bg-success">Ativa</span>
                {% else %}
                    <span class="badge bg-danger">Inativa</span>
                {% endif %}
            </td>

            <td class="text-center">
                <a href="{% url 'category_update' category.id %}" class="btn btn-sm btn-outline-primary">
                    Editar
                </a>
                <a href="{% url 'category_delete' category.id %}" class="btn btn-sm btn-outline-primary">
                    Excluir
                </a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}